export BUCKET_NAME="zac-test-1"
export OBJECT_STORAGE_REGION="us-west-1"
export OBJECT_STORAGE_S3_TYPE="aws"
echo $BUCKET_NAME
echo $OBJECT_STORAGE_REGION
echo $OBJECT_STORAGE_S3_TYPE


#Add Bucket Policy to make public
{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "AllowPublic",
            "Effect": "Allow",
            "Principal": {
                "AWS": "*"
            },
            "Action": [
                "s3:*"
            ],
            "Resource": [
                "arn:aws:s3:::<your-bucket-name>",
                "arn:aws:s3:::<your-bucket-name>/*"
            ]
        }
    ]
}