# // This is only for gfs
export BUCKET_NAME="KDJSKKKLL"
export OBJECT_STORAGE_S3_TYPE="gfs"
export BUCKET_ENDPOINT="JSHDJJDHSH="
echo $BUCKET_NAME
echo $OBJECT_STORAGE_S3_TYPE
echo $BUCKET_ENDPOINT

export BUCKET_ID="SJKJJJSJJJ=="
export BUCKET_PWORD="UIEUWUUUIW="

echo $BUCKET_ID
echo $BUCKET_PWORD
